In [1]:
import pandas as pd

In [3]:
IMF_df = pd.read_csv("data/InternationalMonetaryFund-TimeSeries.csv")
IMF_df.head()

,Country Name,Country Code,Commodity Name,Commodity Code,Unit Name,Unit Code,Attribute,1990,1990Q1,1990M1,...,2020M3,2020Q2,2020M4,2020M5,2020M6,2020Q3,2020M7,2020M8,2020M9,Unnamed: 529
0,World,1,Lamb,PLAMB,Percent Change over Previous Period,PC_PP_PT,Value,15.032245,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,1,Lamb,PLAMB,Percent Change over Previous Period,PC_PP_PT,Value,NaN,7.438923,NaN,...,NaN,-12.593393,NaN,NaN,NaN,1.474158,NaN,NaN,NaN,NaN
2,World,1,Lamb,PLAMB,Percent Change over Previous Period,PC_PP_PT,Value,NaN,NaN,3.295486,...,-8.71839,NaN,-4.524416,-1.611183,0.322866,NaN,-0.102272,2.565635,0.591917,NaN
3,World,1,Lead,PLEAD,Percent Change over Previous Period,PC_PP_PT,Value,20.346276,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,World,1,Lead,PLEAD,Percent Change over Previous Period,PC_PP_PT,Value,NaN,18.207153,NaN,...,NaN,-9.079630,NaN,NaN,NaN,11.899309,NaN,NaN,NaN,NaN

In [10]:
palmoil_df = IMF_df.loc[IMF_df["Commodity Code"]=="PPOIL",:]
palmoil_df.head()

,Country Name,Country Code,Commodity Name,Commodity Code,Unit Name,Unit Code,Attribute,1990,1990Q1,1990M1,...,2020M3,2020Q2,2020M4,2020M5,2020M6,2020Q3,2020M7,2020M8,2020M9,Unnamed: 529
42,World,1,Palm Oil,PPOIL,Percent Change over Previous Period,PC_PP_PT,Value,-17.288942,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,World,1,Palm Oil,PPOIL,Percent Change over Previous Period,PC_PP_PT,Value,NaN,-5.961755,NaN,...,NaN,-17.467878,NaN,NaN,NaN,25.301566,NaN,NaN,NaN,NaN
44,World,1,Palm Oil,PPOIL,Percent Change over Previous Period,PC_PP_PT,Value,NaN,NaN,4.494382,...,-13.133365,NaN,-7.067303,-3.855928,14.993801,NaN,6.502177,10.516676,4.835611,NaN
750,World,1,Palm Oil,PPOIL,Index,IX,Value,37.432143,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,World,1,Palm Oil,PPOIL,Index,IX,Value,NaN,35.989961,NaN,...,NaN,82.841744,NaN,NaN,NaN,103.802002,NaN,NaN,NaN,NaN

In [11]:
palmoil_df.to_csv("data/palmoil.csv")

In [13]:
# Citation:
# International Monetary Fund, Global price of Palm Oil [PPOILUSDM], retrieved from FRED, Federal Reserve Bank of St. 
# Louis; https://fred.stlouisfed.org/series/PPOILUSDM, November 9, 2020.
    
# Global Palm Oil Price by Day
# U.S. Price is Dollars per Metric Ton
palmoil_by_day = pd.read_csv("data/PPOILUSDM.csv")
palmoil_by_day = palmoil_by_day.set_index("DATE")
palmoil_by_day

             PPOILUSDM
DATE
1990-01-01  230.555951
1990-02-01  223.945027
1990-03-01  236.340509
1990-04-01  220.639566
1990-05-01  232.208681
...                ...
2020-05-01  498.482165
2020-06-01  573.223587
2020-07-01  610.495598
2020-08-01  674.699439
2020-09-01  707.325281

[369 rows x 1 columns]

In [14]:
# Citation:
# International Monetary Fund, Global price of Rubber [PRUBBUSDM], retrieved from FRED, Federal Reserve Bank of St. 
# Louis; https://fred.stlouisfed.org/series/PRUBBUSDM, November 8, 2020.
    
# Global Palm Oil Price by Day
# U.S. Price is cents per pound
rubber_by_day = pd.read_csv("data/PRUBBUSDM.csv")
rubber_by_day = rubber_by_day.set_index("DATE")
rubber_by_day

            PRUBBUSDM
DATE
1990-01-01  37.730000
1990-02-01  38.680000
1990-03-01  37.580002
1990-04-01  38.009998
1990-05-01  38.750000
...               ...
2020-05-01  61.373641
2020-06-01  64.785438
2020-07-01  67.984937
2020-08-01  79.961626
2020-09-01  89.312444

[369 rows x 1 columns]

In [17]:
# Convert cents per pound to USD per metric ton.
# 1 metric ton = 2,204.623 lb
rubber_converted = pd.DataFrame(rubber_by_day["PRUBBUSDM"]*22.04623)
rubber_converted

              PRUBBUSDM
DATE
1990-01-01   831.804248
1990-02-01   852.748183
1990-03-01   828.497364
1990-04-01   837.977165
1990-05-01   854.291413
...                 ...
2020-05-01  1353.057397
2020-06-01  1428.274671
2020-07-01  1498.811563
2020-08-01  1762.852399
2020-09-01  1969.002679

[369 rows x 1 columns]

In [18]:
# Export to CSV
rubber_converted.to_csv("data/rubber_USD_metric_ton.csv")