In [2]:
import pandas as pd

In [2]:
natural_gas_df = pd.read_csv('daily_csv.csv')

In [4]:
natural_gas_df

            Date  Price
0     1997-01-07   3.82
1     1997-01-08   3.80
2     1997-01-09   3.61
3     1997-01-10   3.92
4     1997-01-13   4.00
...          ...    ...
5933  2020-08-05   2.23
5934  2020-08-06   2.26
5935  2020-08-07   2.15
5936  2020-08-10   2.18
5937  2020-08-11   2.19

[5938 rows x 2 columns]

In [3]:
oil_df = pd.read_csv('crudeoil.csv')

In [4]:
oil_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-03-22,27.650000,28.250000,27.250000,27.459999,27.459999,92302.0
1,2000-03-23,27.650000,27.780001,27.160000,27.309999,27.309999,79373.0
2,2000-03-24,27.850000,28.150000,27.549999,27.980000,27.980000,55693.0
3,2000-03-26,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-03-27,27.650000,28.020000,27.410000,27.730000,27.730000,59199.0
...,...,...,...,...,...,...,...
6239,2020-07-16,40.900002,41.139999,40.520000,40.759998,40.759998,77425275.0
6240,2020-07-17,40.740002,40.900002,40.020000,40.570000,40.570000,28236139.0
6241,2020-07-19,40.639999,40.650002,40.459999,40.630001,40.630001,7030.0
6242,2020-07-20,40.360001,40.910000,39.830002,40.650002,40.650002,8747221.0
6243,2020-07-21,40.840000,42.400002,40.840000,41.759998,41.759998,1323868.0

In [ ]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.5.3-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.14.0)
Requirement already satisfied: pandas>=0.14 in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.0.1)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (2.8.1)
Requirement already satisfied: more-itertools in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (8.2.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: numpy>=1.8 in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.18.1)
Requirement already satisfied: requests>=2.7.0 in /opt/anaconda3/lib/python3.7/site-packages (from quandl) (2.22.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.14->quandl) (2019.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (2.8)

In [ ]:
pi